h1{
  color: grey;
  display: flex;
  margin-right: 1%;
}
.pretraga
{
  display: flex;
  margin-left: 1%;
  text-align: start;
}
.tabela
{
  margin-right: 1%;
  margin-left: 1%;

}
table {
  table-layout:fixed;
  font-size: 24px;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@media only screen and (max-width: 480px) {
  /* horizontal scrollbar for tables if mobile screen */
  .tablemobile {
    overflow-x: auto;
    display: block;
  }
}

