.dodavanje-vodica-body{
  display: flex;
  flex-direction: row;
}
.dodavanje-vodica-left{
  width:50%;
  padding-left: 5%;
}
.dodavanje-vodica-right{
  width:50%;
}
.slika{
 /* background-image: url("https://restapiexample.wrd.app.fit.ba/profile_images/empty.png");*/
  background-color: #eeeeee;
  height: 250px;
  width:250px;
}

.slika>img{
  height:260px;
}
.form-control{
  width:80%;
}
h2{margin-left:5%;}
.dugmad{
  display: flex;
  margin-top: 100px;
  margin-left: 10%;
  margin-bottom: 2%;
}
.btn{
  margin-right: 10px;
}
