.navigacija{
  height: 8%;
  width: 100%;
  padding: 1px;
  background-color: #004aad;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-class{
  display: flex;
  width:70%;
  flex-direction: row;
margin-top:auto;
  margin-bottom: auto;
}
.lijevo{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width:50%;
}
#searchbox{
  height: 30px;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border:0;
  width:100%;
}
.iconbox{
  margin-left: 20px;
  width:40px;
  height: 40px;
  padding: 5px;
  border-radius: 3px;
}
.searchicon{
 padding:2px;
  height:30px;
  width: 30px;
}
.linkovibox{
  padding: 5px 5px 5px 0;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.link{
  color: white;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
  font-family: Arial;
}
.link:hover{
  color: #e07015;
  cursor: pointer;
}
.link:active{
  color: #e07015;
}
.logoimg
{
  margin-top: 10px;
  margin-left: 20px;
  width: 35px;
  height: 35px;
}
