<!--
<nav>
    <img routerLink="" src="assets/img/Logo.png" class="logoimg">
  <span>
      <a routerLink="/login" class='dugme' *ngIf="loginInfo().isLogiran==false">Login</a>
    </span>
  <span>
      <a  (click)="logoutButton()"  class='dugme' *ngIf="loginInfo().isLogiran">Odjava</a>
    </span>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TravelPoint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Pocetna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"  *ngIf="loginInfo().isLogiran==false">Login</a>
      </li>

      <div class="dropdownNotifikacija">
        <div class="btn-group" *ngIf="loginInfo().isLogiran">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/img/icons8-notification-64.png" style="height: 25px; width: 25px"/>
          </button>
          <div class="dropdown-menu">
            <div *ngFor="let m of signalRService.messages">
              <div class="mb-2 mt-2">
                <div><strong>Date</strong> {{m.DateTime | date:'short'}}</div>
                <div><strong>Message</strong> {{m.Text}}</div>
                <hr>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Example single danger button-->
      <div class="dropdownUser">
      <div class="btn-group" *ngIf="loginInfo().isLogiran">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/icons8-user-64.png" style="height: 25px; width: 25px"/>
          {{loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme}}</button>
        <div class="dropdown-menu">
          <li class="nav-item" >
            <a class="nav-link"(click)="logoutButton()"  *ngIf="loginInfo().isLogiran" >
              <img src="assets/img/icons8-logout-58.png" style="height: 25px; width: 25px"/>
              Odjava</a>
          </li>


          <li class="nav-item" >
            <a class="nav-link"(click)="activateTwo()"  *ngIf="loginInfo().isLogiran && !user.isTwoStep && loginInfo().isPermisijaVodic" >
              <img src="assets/img/icons8-logout-58.png" style="height: 25px; width: 25px"/>
              Aktiviraj dvostruku atentifikaciju</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link"(click)="activateTwo()"  *ngIf="loginInfo().isLogiran && user.isTwoStep && loginInfo().isPermisijaVodic" >
              <img src="assets/img/icons8-logout-58.png" style="height: 25px; width: 25px"/>
              Deaktiviraj dvostruku atentifikaciju</a>
          </li>

        </div>
      </div>
      </div>

    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>


<!--<router-outlet></router-outlet>-->
