<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Autobus">
    <button class="btn btn-info" (click)="dodajBuss()" style="width: 150px; height: 40px; margin-top: 2%">Dodaj autobus</button>
    <table class="table table-secondary table-striped  table-bordered" style="margin-top: 5%">
      <tr class="thead-dark">
        <th>#</th>
        <th>Naziv</th>
        <th>Kapacitet</th>
        <th>Klima</th>
        <th>WiFi</th>
      </tr>
      <tbody>
      <tr *ngFor="let s of getAutobus()">
        <td>{{s.id}}</td>
        <td>{{s.naziv}}</td>
        <td>{{s.kapacitet}}</td>
        <td>{{s.klima}}</td>
        <td>{{s.wiFi}}</td>
      </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="Aviokompanija">
    <button class="btn btn-info" (click)="dodajAvionn()"  style="width: 180px; height: 40px; margin-top: 2%">Dodaj aviokompaniju</button>

    <table class="table table-secondary table-striped  table-bordered" style="margin-top: 5%">
    <tr class="thead-dark">
      <th>#</th>
      <th>Naziv</th>
      <th>Kapacitet</th>
      <th>Mail</th>
      <th>Telefon</th>
    </tr>
    <tbody>
    <tr *ngFor="let s of getAvion()">
      <td>{{s.id}}</td>
      <td>{{s.naziv}}</td>
      <td>{{s.kapacitet}}</td>
      <td>{{s.mail}}</td>
      <td>{{s.telefon}}</td>
    </tr>
    </tbody>
  </table>
  </mat-tab>
</mat-tab-group>
<app-autobus *ngIf="dodajBus" (click)="dodajBuss()" slanje="{{dodajBus}}" (prikazi)="zatvoriOba()" ></app-autobus>
<app-aviokompanija *ngIf="dodajAvion" (click)="dodajAvionn()" slanje="{{dodajAvion}}" (prikazi)="zatvoriOba()"></app-aviokompanija>



<!--
<div class="dugme">
<button class="btn btn-primary" (click)="getApiAutobus()">Lista autobusa</button>
<button class="btn btn-primary" (click)="getAPIAvion()">Lista aviokompanija</button>
</div>
<table class="table table-warning" *ngIf="autobus">
  <tr>
    <th>#</th>
    <th>Naziv</th>
    <th>Kapacitet</th>
    <th>Klima</th>
    <th>WiFi</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of getAutobus()">
    <td>{{s.id}}</td>
    <td>{{s.naziv}}</td>
    <td>{{s.kapacitet}}</td>
    <td>{{s.klima}}</td>
    <td>{{s.wiFi}}</td>
  </tr>
  </tbody>
</table>

<table class="table table-warning" *ngIf="avioKompanija">
  <tr>
    <th>#</th>
    <th>Naziv</th>
    <th>Kapacitet</th>
    <th>Mail</th>
    <th>Telefon</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of getAvion()">
    <td>{{s.id}}</td>
    <td>{{s.naziv}}</td>
    <td>{{s.kapacitet}}</td>
    <td>{{s.mail}}</td>
    <td>{{s.telefon}}</td>
  </tr>
  </tbody>
</table>

<div class="dugme">
  <button class="btn btn-primary" (click)="dodajBuss()">Dodaj autobus</button>
  <button class="btn btn-primary" (click)="dodajAvionn()">Dodaj aviokompaniju</button>
</div>

<app-autobus *ngIf="dodajBus" (click)="dodajBuss()" slanje="{{dodajBus}}" (prikazi)="zatvoriOba()" ></app-autobus>
<app-aviokompanija *ngIf="dodajAvion" (click)="dodajAvionn()" slanje="{{dodajAvion}}" (prikazi)="zatvoriOba()"></app-aviokompanija>
-->
<app-autobus *ngIf="dodajBus" (click)="dodajBuss()" slanje="{{dodajBus}}" (prikazi)="zatvoriOba()" ></app-autobus>
<app-aviokompanija *ngIf="dodajAvion" (click)="dodajAvionn()" slanje="{{dodajAvion}}" (prikazi)="zatvoriOba()"></app-aviokompanija>
